.DS_Store
*.iml
.gradle/
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.cxx/
.externalNativeBuild/
build/
captures/
local.properties
